@import "./Colors.scss";
@import "./UtilityStyle.scss";

.register-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms{
    
    height: 250px;
    width: 320px;
  
}

.forms button{
    margin: 15px;
}

.forms label{
    margin-top:0.5rem;
}

@media(max-width:768px){
    .register-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}