$my-lightgrey:#f7f7f7;
$instagram-grey:#231F20;
$my-white:#fff;


//-------------Color Palette

$my-black:#34393e;
$blue-gray:#47646a;
$light-blue-gray:#87adb6;
$yellow-green:#c0c56b;

// color patterns for this website

$white:#F2F2F4;
$greengrey:#6D8687;
$greengrey2:#93A5A9;
$bluegrey:#6C7D88;
$bluegrey2:#43535C;
