


//-------------Color Palette
$my-black:#34393e;
$blue-gray:#47646a;
$light-blue-gray:#87adb6;
$yellow-green:#c0c56b;


// color patterns for this website
$white:#F8F8F9;
$grey:#B5B6B4;
$grey2:#93A5A9;
$yellow:#F2B35B;
$grey3:#687A8B;

//bootstrap color
$bootstrap-green:#28a745;
$bootstrap-blue:#17a2b8;
$bootstrap-yellow:#ffc107;
$bootstrap-red:#dc3545;

//utility slider color
$slider-rail-white:#e9ecef;

//Sleek and Futuristic aka SAF

$SAF_black:#2c3531;
$SAF_green:#116466;
$SAF_dark_orange:#D9B08c;
$SAF_light_orange:#FFCB9A;
$SAF_light_blue:#D1E8E2;
