@import'./Colors.scss';
.footer{
    position: absolute;
    width: 100%;
    bottom:0;
    background-color:$SAF_black;
    color: $SAF_light_blue;
    justify-content: center;
}

.footer-copyright{
  display: inline-block;
}

.footer a{
    color: $SAF_light_blue!important;
}

.footer a:hover{
    color: $SAF_light_orange !important;
}
.footer a :link,:visited,:hover,:active{
    text-decoration: none !important;
}


@media(max-width:768px){
    .footer{
        display: none;
    }
}