@import './Colors.scss';
.homepage-wrapper{
    height: 100%;
    width: 100%;
    background-color: $SAF_green;
}

.desc{
    position: relative;
    top:30%;
    color: $SAF_light_blue;
}

.desc h1{
    font-size: 5vw !important; 
    color: $SAF_light_orange !important;
}

.desc a{
    color: $SAF_light_orange!important;
}

.desc a:hover{
    color: $SAF_dark_orange !important;
}


  
@media(max-width:768px){
    .homepage-wrapper{
        align-items: center;
        justify-content: center;
    }
    .homepage-wrapper .desc{
        position: relative;
        width: 100%;
        height: calc(100% - 50px);
        padding:5%;
        margin: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top:50px !important;
    }
    
}