@import "./Colors.scss";
.item-detail-wrapper{
    position: relative;
    margin: 0;
    height: auto;
    width: 600px;
    top:0;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.item-detail-wrapper .form-row{
  margin: 5px !important;
}

.item-detail-wrapper .form-group{
  margin-top: 15px !important;
}

// for creatable react-select
.form-group div{
  border-radius: 1rem;
  }
 
  .cancel-button{
    position: absolute !important;
    top:0 !important;
    right: 0px !important;
    height: 30px !important;
    width: 30px !important;
    background-color: $bootstrap-red !important;
  }

  .expireDate-picker{
    height: 36px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    outline: none;
  }

  @media(max-width:768px){

    .item-detail-wrapper{
      width: 100% !important;
      top:10px !important;
      left:0 !important;
      padding: 5% !important;
    }
  }