@import "./Colors.scss";
.item-list-wrapper{
    position: relative;
    margin: 0;
    height: 70%;
    width: 100%;
    top:15%;
    background-color: $white;
  
}
.item-list{
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    padding: 0;

}
.item-list-wrapper li{
    list-style-type: none;
}


.item-card-wrapper{
    height: 150px;
    width: 500px;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: $yellow;
    border-width: 1px;
    background-color: $white;
    margin:5px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.item-card-wrapper .row{
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.item-card-wrapper:hover{
    cursor: pointer;
    border:none;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.item-card-wrapper hr{
    margin: 0;
}
.my-spinner{
    z-index: 2;
    position: relative;
    top:25%;
    left:25%;
    height: 50%;
    width: 50%;
}

@media(max-width:768px){

    .item-card-wrapper{
       width: 95%;
       padding:1%;
       height: auto !important;
       margin-top: 10px;
    }

    .item-list-wrapper li{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
       
    }
}