@import'./Colors.scss';


.navbar{
    position: fixed;
    top:3%;
    width: 100%;
    height:auto;
    z-index: 1;
}

.navbar-logo{
    position: relative;
    height: 100%;
    width: auto;
    justify-content: start;
    text-align: start;
    font-size: xx-large;
}

.navbar-logo a{
    color: $grey3;
    font-size:xx-large;
    transition: color 0.2s ease-in-out;
}
.navbar-logo a:hover{
    color: $yellow;
    text-decoration: none;
}


.navbar-icon{
    width: 250px;
    right:20px;
}

.navbar .Dropdown-control{
    background-color: inherit;
    border: none !important;
    padding: 8px;
    text-decoration: underline;
}
.navbar .Dropdown-control:hover{
    color: $yellow;
    outline: none;
    border: none !important;
    box-shadow: none;
}

@media(max-width:768px){
 
    .navbar{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        display: inline-block;
        vertical-align:middle;
        padding: 0;
    }
 
    .navbar-logo{
        width: 100%;
        text-align: center;
    }
    .navbar-icon{
        position: relative;
        width: 300px;
        right:0;
        left:calc(calc(100% - 300px) / 2);
    }
    
}