@import'./Colors.scss';


.navbar{
    position: fixed;
    top:3%;
    width: 100%;
    height:auto;
    z-index: 1;
    justify-content: start;
}

.navbar-logo{
    position: relative;
    height: 100%;
    width: 30%;
    float: left;
    justify-content: start;
    text-align: start;
    font-size: xx-large;
}

.navbar-logo a{
    color: $grey3;
    font-size:xx-large;
    transition: color 0.2s ease-in-out;
}
.navbar-logo a:hover{
    color: $yellow;
    text-decoration: none;
}

.navbar-test{
    height: 100%;
    width:40%;
    background-color: $grey;
}

.navbar-icon{
    position: relative;
    height: 100%;
    width: 350px;
    right:0%;
}

.navbar .Dropdown-control{
    background-color: inherit;
    border: none !important;
    text-decoration: underline;
}
.navbar .Dropdown-control:hover{
    color: $yellow;
    outline: none;
    border: none !important;
    box-shadow: none;
}