.aaa{
    position: relative;
    left: 25%;
    top:10%;
    height: 500px;
    width: 500px;
    background-color: red;
}

.check-pantry{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% ;
    width: calc(100% - 200px);
    left: 200px;
}

@media(max-width:768px){
    .check-pantry{
        top:0 !important;
        height: auto !important;
        width:100% !important;
        padding: 1%;
        left: 0;
    }

}