@import'./Colors.scss';

//mybutton

.my-button{
    background-color: $grey3; 
    border: none;
    text-align: center;
    color: $white;
    height: 30px;
    width: auto;
    border-radius: .25rem;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.my-button:hover {
    background-color:$yellow;
    color:$white;
    cursor: pointer;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.my-button:focus {
    outline:0;
  }
.my-button:active {
    cursor: progress;
  }

.btn-custom-red{
    background-color:$bootstrap-red;
}
.btn-custom-green{
    background-color:$bootstrap-green;
}
.btn-custom-red:hover{
  background-color:$bootstrap-red;
}
.btn-custom-green:hover{
  background-color:$bootstrap-green;
}
//input tag
.my-input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  outline: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-input:focus{
  border: 1px solid $yellow;
}

//input with span
.input-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
}

.input-input{
  position: relative;
  width: 100% !important;
}



//slider

.slider-wrapper{
  position: relative;
  width: 90%;
  float: left;
}
.slider-text{
  float: left;
  text-align: center;
  width: 25%;
}

.rc-slider{
  position: relative;
  width: 70% !important;
  left: 25%;
}
.rc-slider-rail{
  background-color: $grey !important;
  height: 15px !important;
  border-radius: 0.5 !important;
  background-image:
  linear-gradient(45deg,
  rgba(255,255,255,.15) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,255,.15) 50%,
  rgba(255,255,255,.15) 75%,
  transparent 75%,
  transparent);
background-size: 1rem 1rem;
}
.rc-slider-track{
  border-radius: 0.5!important;
  height: 15px !important;
  background-image:
    linear-gradient(45deg,
    rgba(255,255,255,.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,
    transparent 75%,
    transparent);
  background-size: 1rem 1rem;
}
.rc-slider-handle{
  border-color: $my-black !important;
  height: 25px !important;
  width: 15px !important;
  margin-left: 0px !important;
  margin-top: -5px !important;
  background-color: $slider-rail-white !important;
  border-radius: 5px !important;
}

